<!DOCTYPE html>
<html>
<head>
  <title>Theme</title>
  <%= stylesheet_link_tag    "theme/application", media: "all" %>
  <%= javascript_include_tag "theme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
